# dependencies
node_modules/
.pnpm/

# production build
dist/

# Ignore compiled scripts
dist-scripts/

# Ignore generated birthday card page
src/pages/BirthdayCard.tsx

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
